body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url("image/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    color:#ffffff
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    text-align: center;
}

.result h2 {
    color: #ffffff;
}

.result p {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}
